.game{
    width: 800px;
    height: 300px;
    background-image: url(images/Background-Sky.png);
    border: 1px solid black;
    margin: auto;
}

#Donut{
    width: 100px;
    height: 100px;
    background-size: 100px 100px ;
    position: relative;
    top: 210px;

}

.walk1 {
    background-image: url(images/Donut_1.png) ;
}

.walk2 {
    background-image: url(images/Donut_2.png) ;
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0%{
        top:200px;
    }
    30%{
        top:140px;
    }
    50%{
        top:100px;
    }
    80%{
        top:140px;
    }
    100%{
        top: 200px;
    }
}

#Fork{
    width: 60px;
    height: 60px;
    background-image: url(images/Fork.png) ;
    background-size: 60px 60px ;
    position: relative;
    top: 150px;
    left: 720px;
    animation: move 2s infinite linear;
}
@keyframes move {
    0% {
        left: 720px;
    }
    100% {
        left: -20px;
    }
}
#Scoreboard{
    width: 120px;
    height: 30px;
    text: "Score: " + score;

}
"exports.myScore function Scoreboard();"